<div class="center padded">
  <div class="content padded">
    <div class="padded">
      <h1>Mira lo que he construído!!</h1>
    </div>
    <div class="row">
      <div class="card third">
        <h3>Gestor de tareas (Python)</h3>
        <p>Una aplicación para gestionar tus tareas.</p>
        <a class="orange" target="_blank" href="#">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Adivina el numero (JavaScript)</h3>
        <p>Una aplicación de juego en el cual debes adivinar el numero.</p>
        <a
          class="orange"
          target="_blank"
          href="https://github.com/Miguel-Candia/adivina-el-numero-JS-"
          >Link aquí</a
        >
      </div>
      <div class="card third">
        <h3>1 vs 1 (JavaScript)</h3>
        <p>Una aplicación para juegar con tus amigos.</p>
        <a
          class="orange"
          target="_blank"
          href="https://github.com/Miguel-Candia/Juego-1vs1-JS-"
          >Link aquí</a
        >
      </div>
    </div>
  </div>
</div>
